<link rel="stylesheet" type="text/css" href="css/revEnrollment.css">    

<ion-view>

<!-- 
    <ion-nav-bar class="blueController" style="border-bottom-color:red ;" >
        <ion-nav-title  >
            <img class="title" src="img/dentalSelectLogo.png" style=" margin:auto; display:block"></img>
        </ion-nav-title>   
        <ion-nav-back-button class="blueController">
          <i class="icon ion-chevron-left">
        </ion-nav-back-button>
    </ion-nav-bar> -->


    <div class="bar bar-subheader" id="subheadertitle">
        <h4 class="title" id="subheaderFont">REVIEW ENROLLMENT INFO</h4>
    </div>


<ion-content padding="true" class="has-subheader scroll-content ionic-scroll" my-block="processing">

<div class="shadowlinediv" style="margin-top:-8px;"><img class="shadowlineimg" src="img/shadowline.png" /></div>


   <div id="personalInfo">
    <p style="color:gray;">EMPLOYEE NAME</p>
    <p style="color:#0181C7;">JOHN DOE</p>
    <br>
    <p style="color:gray;">PLAN SELECTED</p>
    <p style="color:#0181C7;">PASSIVE PPO</p>
    <p style="color:#0181C7; font-size:10px;">GOLD NETWORK</p>
    <br>
    <p style="color:gray;">COVERAGE OPTION</p>
    <p style="color:#0181C7;">FAMILY</p>
</div>
<br>

<div class="row" style="margin-bottom:30px; padding:0px;">
  <div class="col col-80" id="viewDependents" style="padding:0px 1px 0px 0px;">
    <label class="item addDependentsToPlan">
      VIEW DEPENDENTS COVERED
    </label>
  </div>

  <div class="col col-20 " id="viewDependents" style="padding: 0px;">
    <button class="buttonSquare button-clear button-block" style="background:#888888; color:white; font-size: 14px; margin-top: -1px; margin-bottom: 0px; line-height:0px;">
	<i class="big-icon ion-plus" style=" color:white; vertical-align:middle; margin-top:10px;">
	</i>
    </button>
  </div>    
</div>

<!--<div class="row">
    <div class="col col-80" id="viewDependents">
        VIEW DEPENDENTS COVERED
    </div>

    <div class="col col-20" id="viewDependents">
        <center><i class="icon ion-plus"></i></center>
    </div>
</div>-->

<br>

<div id="personalInfo">
    <p style="color:gray;">RATE</p>
</div>


<center><h3>$27.00 PER MONTH</h3></center>                        

<br>

<div class="row">
    <div class="col col-80 col-offset-10">
        <div id="btnConf">
            <center>
                <button class="button button-positive button-outline button-small" style="">EDIT INFO</button>
                <button class="button button-positive button-small">CONFIRM</button>
            </center>       
    </div>
</div>
</div>
</ion-content>
</ion-view>
