<ion-view hide-back-button="true">

    <div class="bar bar-subheader" id="subheadertitle">
        <h4 class="title" id="subheaderFont">CLAIM HISTORY</h4>
    </div>


    <ion-content padding="true" class="has-subheader scroll-content ionic-scroll" my-block="processing">

        <div ng-click="TestScann()" class="row text-center" style="margin:auto; display:block; margin-bottom:30px;">
            <a class="button button-positive button-outline button-small fontBold" id="centerButton">
               SCANN NOW
            </a>
        </div>



    </ion-content>
</ion-view>
