
#viewDependentsidcards{
    background:white; 
    color:black; 
    font-size:11px; 
    margin-right:1px;
}



#centerTextIdcards{
    white-space: pre-line;
    color: black;
}



#borderColumn{
   border: 1px solid #ddd;
}

#font{
color: DarkGray;  
 font-family: inherit; 
text-align: center; 
letter-spacing: .6pt; 
font-weight: normal; 
}



#fontfamily{
 font-family: inherit; 

}


