.mombbimg{
width:100%;
height:480px;
z-index:0;
	
}
.mombb{
	position:relative;
	z-index:0;
	
}

.divmain{
	position:relative;
	margin:auto;
	height:auto;
	background-color:none;
	margin-top:-430px;
	z-index:99;
	padding-bottom:0px;

}

#headertop img{
	position:relative;
    margin-top: 50px;
    width: 75%;
    max-width: 250px;
    height: 60px;
	margin:auto;
	display:block;
	margin-bottom:40px;

}

h2.ge{
		font-size:21px !important;
	font-weight:700;
text-align:center;
color:white;
 letter-spacing: 1pt;
 margin-bottom:55px;
}


.en{
	
	text-align:center;
	
}

#loginform{
	position:relative;
		z-index:99;

	
	box-shadow: 0px 0px 10px 4px rgba(68, 68, 68, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(68, 68, 68, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(68, 68, 68, 0.75);
	
}

#loginform div{
	position:relative;
    display: block;
    text-align: center;
    margin-bottom: 
}

#loginform h3{
	position:relative;
    color: #FFFFFF;
    letter-spacing: 2pt;
    font-weight: bold;
}

#loginform div #inputs{
	position:relative;
    width: 90%;
}

#loginform a{
	position:relative;
     letter-spacing: 1pt;
}

#footerlogin p{
    font-size: 0.55em;
    text-align: center;
    margin: 0 0 10px;
    color: gray;
    letter-spacing: 1pt;
}

#groupenrollment{
	position:relative;
    text-align: center;
    padding-top: 20px;
	padding-bottom:30px;
}

#groupenrollment a{
    letter-spacing: 1pt;
}

input,
input::-webkit-input-placeholder {
    font-size: 10px;
    letter-spacing: 1pt;
}

input,
input::-moz-input-placeholder {
    font-size: 10px;
    letter-spacing: 1pt;
}

input,
input::input-placeholder {
    font-size: 10px;
    letter-spacing: 1pt;
}


.itemlogin{
	
	margin-left:0px !important;
	padding-left:0px !important;
	
}

.emailinput{
	
	padding-left:5px !important;
	padding-top:2px !important;
	margin-top:12px !important;
	margin-bottom:12px !important;

	margin-right: 10px !important;
	margin-left: 10px !important;
	
	border-left-style:solid !important;
	border-left-width:1px !important;
	border-left-color:#ababab !important;
	
	border-right-style:solid !important;
	border-right-width:1px !important;
	border-right-color:#ababab !important;
}



