 
/*#headertop img{
    text-align: center;
    height: 40px;
}

#headertop h2{
    letter-spacing: 1pt;
    font-weight: bold;
}*/

#btnConf{
    text-align: center;
}

#btnConf button{
    padding-left: 20px;
    padding-right: 20px;
}





    