
.blueController{
    background-color: #0080c6;
    color: white;
    border: #0080c6;
    height: 40px;
    border-radius: 2px;
    font-size: 15px;
}



.blueControllerNav{
    background-color: #0080c6;
    color: white;
    border: #0080c6;
    border-radius: 2px;
}

.blueController:hover{
    background-color: #0080c6;
    color: white;
    /*border: #0080c6;*/
}

.blueController:disabled{
  background-color: rgba(60, 132, 198, 0.8);
  border: #0080c6;
  color: white;
  font-size: 15px;
}

.blueController:active{
    background-color: #0080c6;
    /*border: #0080c6;*/
}

.blueController:focus{
    background-color: #0080c6;
    color: white;
    border: #0080c6;   
    font-size: 15px;
}

.shadowlinediv{
	display:table;
	margin:0 auto;

}
.shadowlineimg{
	
	width:238px;
	
	
}
.submitButton{
	padding-left:45px; 
	padding-right:45px; 
	font-size:15px !important; 
	margin-bottom:5px;
	letter-spacing: 1pt;
    border-radius:2px;
}

.NoPaddingButton{
    width: 145px;
    font-size:10px; 
    margin-bottom:5px;
    letter-spacing: 1pt;
    border-radius: 2px;
}

.continueButton{
	padding-left:30px; 
	padding-right:30px; 
	font-size:10px; 
	margin-bottom:5px;
	letter-spacing: 1pt;	
    border-radius: 2px;
}

.groupEnrollmentButton{
    font-size:15px; 
    margin-bottom:5px;
    letter-spacing: 1pt;
}

.mapButton{
    width:60px; 
    margin-bottom:5px;  
    letter-spacing: 1pt;
    font-size: 10px;
}
.waiveCoverageButton{
	padding-left:20px; 
	padding-right:20px; 
	font-size:15px; 
	margin-bottom:5px;
	letter-spacing: 1pt;	
    border-radius: 2px;
    height:40px;
}


.beginEnrollmentButton{
	font-size:15px important!; 
	letter-spacing: 1pt;	
    border-radius: 2px;
}

.groupEnrollmentButton{
    
    font-size:15px; 
    margin-bottom:5px;
    letter-spacing: 1pt;    
    border-radius: 2px;
}




#yesnoButtons{
	font-size:10px; 
	letter-spacing:1pt;
}

#registrationMemberTitle{
	color: #888888;
	letter-spacing: 1pt;
    font-size: 19px;
    text-align: center;
}

#registrationMember{
	color: #0080c6;
	letter-spacing: 1pt;
    font-size: 18px;
    text-align: center;
    line-height: 10px;
}

#registrationMemberSmall{
	color: #0181C7;
	letter-spacing: 1pt;
    font-size: 14px;
    text-align: center;

}




.inputedit{
	
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
   

    margin-bottom:0px !important;
	
   border-style:solid;
   border-bottom-color:#ababab !important;
   border-width:1px !important;
   border-radius: 2px !important;
   
   border-top-style:solid !important;
   border-top-width:1px !important;
   border-top-color:#ababab !important;
   height: 40px;
}



input[type=text] {
   /* Awesome styling */
   
   background:transparent !important;
   font-size: 15px !important;
   padding-left: 11px;
   padding-right: 20px;
   font-family: "TextaW00-Bold";
}

inputedit[type=password] {
   /* Awesome styling */
   
   background:transparent !important;
   font-size: 15px !important;
   padding-left: 5px;
   font-family: "TextaW00-Bold";
}

input[type=password]{
   background:transparent !important;
   font-size: 15px !important;
   padding: 0px 20px 0px 11px;
   font-family: "TextaW00-Bold";
}

input[type=email] {
   /* Awesome styling */
   
   background:transparent !important;
   font-size: 15px !important;
   padding: 0px;
   padding-left: 11px;
   font-family: "TextaW00-Bold";
   margin-bottom: 5px;
   
}

input[type=date] {
   /* Awesome styling */
   /*position: absolute;*/
   background:transparent !important;   
   font-size: 15px !important;
   padding: 0px 0px 0px 11px !important;
   font-family: "TextaW00-Bold";
   vertical-align: middle;
   height: 50%;
}

input[type=number] {
   background:transparent !important;   
   font-size: 15px !important;
   padding-left: 11px;
   font-family: "TextaW00-Bold";
}


input[type=search] {
   background:transparent !important;
   font-size: 15px !important;
   padding-left: 5px;
   font-family: "TextaW00-Bold";
}



#helpInfo{
    line-height: 15px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    white-space: pre-line;
}

#helpInfoStarted{
    line-height: 18px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    white-space: pre-line;
    letter-spacing: .2pt;
}


#helpInfoImage{
    line-height: 15px;
    font-size: 13px;
    padding: 5px;
    white-space: pre-line;
}

#helpInfoPlanOptions{
    line-height: 15px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
    white-space: pre-line;
}



#helpInfoCards{
    letter-spacing: .5pt;
    line-height: 15px;
    text-align: center;
    font-size: 6px;
    padding: 5px;
    white-space: pre-line;
    color:black;
}

hr {
    border: 0;
    height: 4px; 
    text-align: center;
    background-image: -webkit-linear-gradient(left, #fff, #ddd, #fff);
 }

 a{
 	text-decoration: none;
 }

 a[disabled="disabled"] {
   pointer-events: none;
   cursor: default;
   color: #888888;
}

 #startedMenu{
 	letter-spacing:1pt; 
 	line-height:12px; 
 	font-size:15px;
    display: inherit;
 }



.optionSelectText{
    color: black !important;
    letter-spacing: 1pt;
    font-size:15px;
}

.buttonTransparentBottom label > div{
   color: #ababab;
   font-size: 10px;
   padding-top:100px;
   padding-bottom:100px;
   margin-left:-10px;
   height: 40px;
}

.addDependentsToPlan{
	background:#888888;
	color:white;
	font-size:15px; 
	line-height:3px; 
	padding-left:8px; 
    border-width: 0px;
	border-top-right-radius: 0px !important;
}


.bluebuttonController{
    background-color: #0080c6; 
    color: white;  
    border: #0080c6;
}


#viewDependents {
    color: white;
    font-size: 10px;
   /*  margin-right: 1px; */
    letter-spacing:.5pt;
}


#sp{
	letter-spacing:3px;
	font-size: 18px;
	color:white;
    font-family: "TextaW00-Medium";
}

.buttonSquare {
    border-color: transparent;
    background-color: #888888;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 35px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}

.buttonSquarePlanSummary {
    border-color: transparent;
    background-color: #888888;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 34px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}

#centerButton{
    
    font-size: 15px;
    margin-top:3px;
    margin-bottom:3px;  
    border-radius: 2px;
}



#centerLargeButton{
    width: 200px;
    font-size: 15px;
    letter-spacing: 1pt;
    margin-top:3px;
    margin-bottom:3px;  
    border-radius: 2px;
}

#centerSmallButton{
    width: 140px;
    font-size: 15px;
    letter-spacing: .5pt;
    margin-top:3px;
    margin-bottom:3px; 
    border-radius: 2px; 
    height: 40px;
}


a{
    text-decoration: none !important;
}

.AddDependentsButtons{
    width: 100px;
    font-size: 15px; 
    margin-bottom:5px;
    letter-spacing: 1pt;
    border-radius: 2px;
}

#cardTitlePlanSummary {
    color: white;
    text-align: center;
    letter-spacing: 1pt;
    font-size:19px;
   
}


#centerTextPlanSummary{
    font-family: "TextaW00-Medium";
    white-space: pre-line;
    padding: 15px;
    font-size:15px;
    border: 1px solid #ddd;
}

#titlePassivePPO{
    color: #888888;
    letter-spacing: 1pt;
}

.stripes tr:nth-child(odd){
    background-color: #f2f2f2;
}

.tabs {
    position: relative;
    margin: 40px auto;
    width: 750px;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
}
.tabs input#tab-2{
    left: 120px;
}

.colorSelect{
  color: #ababab !important;
}



#subheadertitle{
    padding-bottom:-5px !important;
    margin-bottom:-10px !important; 
    border-top:none !important;
    background-image:none !important;
 
}


  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar-subheader{
    height:44px;
}


/*Fonts*/
body{
    font-family: "TextaW00-Black";
}

.fontBold{
    font-family: "TextaW00-Bold";
}

.fontMedium{
    font-family: "TextaW00-Medium";   
}

.fontBlack{
    font-family: "TextaW00-Black";   
}

.fontHeavy{
    font-family: "TextaW00-Heavy";
}

#placeholderSelect{
    color: #999999 !important;
    letter-spacing: 1pt;
    font-size:15px;
    padding-left: 5px;
    font-family: "TextaW00-Bold";
}

.placeholderSelect{
    color: #999999 !important;
    letter-spacing: 1pt;
    font-size:15px;
    padding-left: 5px;
    font-family: "TextaW00-Bold";
}

 #placeholderSelectGrayBox{
    color: #e3e3e3; !important;
    letter-spacing: 1pt;
    font-size:15px;
    padding-left: 5px;
    font-family: "TextaW00-Bold";
}

.colorplaceholder::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #999999 !important;
  font-size: 15px;
  padding-left: 0px;
  font-family: "TextaW00-Bold";

}

.stripes tr{
    font-family: "TextaW00-Medium";
}

#subheaderFont{
    font-family: "TextaW00-Black";
    font-size: 22px;
}

.dateclass{
    width:100%;
}

input[type="date"]::before {
    color: #999999;
    content: attr(placeholder);
}
input[type="date"] {
    color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
    color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "" !important;
}

.fonterror { 
    color: red !important;
    letter-spacing: 1pt !important;
    font-size: 13px !important;
    text-align: center !important;
    line-height: 10px !important;
    margin-bottom: 8px;
    font-family: "TextaW00-Bold" !important;
    font-style: oblique; 


}

.ion-plus-circled:before {
    font-size: 23px;
    color: #999999;
    background: white;
}


.ion-minus-circled:before {
    font-size: 23px;
    color: #999999;
    background: white;
}

.img-plus-icon{
    background-image: url(imgNew/pluscircled_icon.png);
    width: 20px;
    height: 20px;
}
/*.Largeheader .bar-header {
    top: 0;
    height: 55px;
    border-top-width: 0;
    border-bottom-width: 1px; 
    position: fixed;   
    }

    .bar-subheader {
    top: 54px;
    display: block;
    height: 44px;
}
*/

/*body {
    background-image:url(images/background.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#657077;
    margin:40px;
}*/


ul.tabs {
    margin:0px; padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline;
    width: 50%;
}

ul.tabs li a {
     /*   background-color:#464c54;
        color:#ffebb5;
        padding:8px 14px 8px 14px;
        text-decoration:none;
        font-size:9px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-weight:bold;
        text-transform:uppercase;
        border:1px solid #464c54; */

      opacity: 2;
      padding:8px 14px 8px 14px;
    position: relative;
    border: 1px solid #e5e5e5;
    font-size:11px !important;
    letter-spacing: 1pt;
    width:50%;
    max-width: 100%;
    text-align:center;
    color:#8f8f8f;   
    line-height: 3;
    height: 40px;
    overflow: visible !important;
    font-family: "TextaW00-Bold";   
}
/*ul.tabs li a:hover {
    background-color:#0080c6;
    border-color:#0080c6;
    color: white;
}*/

.btnDetails {
    padding-left:10px;
    padding-right:10px;
}

ul.tabs li a.active {
  /*  background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54; 
    border-bottom: 1px solid #ffffff;*/

    background: #0080c6 !important;
    border: 2px solid #0080c6;
    font-size: 11px !important;
    letter-spacing: 1pt;
    color: white;
    border-radius: 0;
    height:40px;
}



ul.tabs li a.active::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(74, 135, 238, 0);
    border-top-color: #0080c6;
    border-width: 10px;
    margin-left: -10px;
  /*  background-color:#ffffff;
    color:#282e32;
    border:1px solid #464c54; 
    border-bottom: 1px solid #ffffff;*/

   /* background: #0080c6 !important;
    border: 2px solid #0080c6;
    font-size: 9px !important;
    letter-spacing: 1pt;
    color: white;
    border-radius: 0;*/
}

/*.content {
    background-color:#ffffff;
    padding:10px;
}
#content_2 { display:none; }*/

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}

.tab-item active{
    height: 40px;
}

/*.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}
.content ul li a {
    text-decoration:none;
    color:#3e4346;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li:last-child {
    border-bottom:none;
}*/


.hplan{
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1pt;
    color: #888888;
    padding-bottom: 5px !important;
    font-size:21px;
    line-height: 15px;

}

.hdisabledplan{
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1pt;
    color: #d3d3d3  ;
    padding-bottom: 5px !important;
    font-size:21px;
    line-height: 15px;
        

}   

.greyBarStyle {
    background: #888888;
    color: white;
    font-size: 13px;
    padding: 17px;
    letter-spacing: 1pt;
    line-height: 45px;
}

.img-settings{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.disabled-grey-bar{
    background: #9f9f9f;
}

.enabled-grey-bar{
    background: #888888;
}

.disabled-connection{
    color: #888888;
}

.paychk .checkbox-icon:before, .paychk input[type=checkbox] + .checkbox-icon:before {
    background-color: white;
    z-index: -100px;
}

.paychk .checkbox-icon:before, .paychk input[type=checkbox]:checked + .checkbox-icon:before {
    background-color: white;
    z-index: -100px;
}

.paychk .checkbox-icon::after{
    -webkit-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 23%;
    left: 25%;
    display: table
    width: 14px;
    height: 6px;
    border: 2px solid #0080c6;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}

.paymentInfoButtons{
  margin-top:5px !important; 
  margin-bottom:5px !important; 
  font-size:10px !important;
  width:50% !important; 
  line-height:15px !important; 
  min-height:15px !important;
  border-radius: 2px;
  border: 1px solid;
}

.paymentInfoMakePrimary{
  margin-top:5px !important; 
  margin-bottom:5px !important; 
  font-size:10px !important;
  width:90% !important; 
  line-height:15px !important; 
  min-height:15px !important;
  border-radius: 2px;
  border: 1px solid;
}

.loginMarginButton{

    margin-left: 15px;
    margin-right: 15px;
}

.inputMarginGroupButton{

    margin-left: 10px;
    margin-right: 10px;
}

.inputMarginGroup{
    
    padding-left:0px !important;
    padding-top:0px !important;
    margin-top:8px !important;
    margin-bottom:8px !important;

    margin-right: 10px !important;
    margin-left: 10px !important;
    
    border-left-style:solid !important;
    border-left-width:1px !important;
    border-left-color:#ababab !important;
    
    border-right-style:solid !important;
    border-right-width:1px !important;
    border-right-color:#ababab !important;
}

.inputMarginGroup{
    
    margin: 8px 0px;
}

.PersonalInfoFont {
    font-size: 19px;
}
.greyBarSettings {
    background: #888888;
    color: white;
    font-size: 16px;
    padding: 17px;
    /* letter-spacing: 1pt; */
    line-height: 45px;
}

ul > li > label{
    font-size: 17px;
}

a.blueController {
    line-height: 34px;   
}

a.button-outline{
    line-height: 34px;
}

@media screen and (min-width:800px) {

	.centerTextPaymentButton{
		line-height: 20px !important;
	}
}

@media screen and (min-width:400px) and (max-width:780px) {

	.centerTextPaymentButton{
		line-height: 40px !important;
	}
}


@media screen and (min-width:331px) and (max-width:399px)  {

    .centerTextPaymentButton{
		    line-height: 20px !important;
	    }
}


@media screen and (max-width:330px) {

	.centerTextPaymentButton{
		line-height: 20px !important;
	}
}

.selectStandard{
    height: 40px !important;
}

.selectStandard.item-input input {
    padding-right: 20px;
}

.selectStandard.item-select select {
    -moz-appearance: none;   
    max-width: 100%;
    direction: rtl;
    width: 100%;
    padding: 0px 35px 0px 11px !important;
    direction: ltr;
}

.selectStandard.item-select {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}
.selectStandard.item-input{
    padding: 0 0 0 0;
}





















