@charset "UTF-8";

@font-face {
    font-family: "TextaW00-Black";
    src: url("../fonts/TextaBlack.eot");
    src: url("../fonts/TextaBlack.eot") format("embedded-opentype"),
         url("../fonts/TextaBlack.woff2") format("woff2"),
         url("../fonts/TextaBlack.woff") format("woff"),
         url("../fonts/TextaBlack.ttf") format("truetype"),
         url("../fonts/TextaBlack.svg") format("svg");
          font-weight: normal;
       font-style: normal
}


@font-face {
   
     font-family: "TextaW00-Bold";
      src:url("../fonts/Texta-Bold.otf");     
}


@font-face {
   
     font-family: "TextaW00-Medium";
      src:url("../fonts/Texta-Medium.otf");     
}


@font-face {
   
     font-family: "TextaW00-Heavy";
      src:url("../fonts/Texta-Heavy.otf");     
}

body {
    font-family: "TextaW00-Black";
}

.fontBold {
    font-family: "TextaW00-Bold";
}

.fontMedium {
    font-family: "TextaW00-Medium";
}

.fontBlack {
    font-family: "TextaW00-Black";
}

.fontHeavy {
    font-family: "TextaW00-Heavy";
}