/*@font-face {
   
     font-family: 'TextaW00-Black';
     src:url('/lib/ionic/fonts/Texta-Black.woff')  format('woff');
     font-weight: normal;
     font-style: normal; 
  
}*/

/*@font-face {
font-family: 'TextaW00-Black';
src: url('/lib/ionic/fonts/Texta-Black.eot');
src: url('/lib/ionic/fonts/Texta-Black.eot?#iefix') format('embedded-opentype'),
url('/lib/ionic/fonts/Texta-Black.woff') format('woff'),
url('/lib/ionic/fonts/Texta-Black.ttf') format('truetype'),
url('/lib/ionic/fonts/Texta-Black.svg#museo_sans_500regular') format('svg');
font-weight: normal;
font-style: normal;
}*/
/*
@font-face {
   
     font-family: "TextaW00-Bold";
      src:url("/lib/ionic/fonts/Texta-Bold.otf");     
}


@font-face {
   
     font-family: "TextaW00-Medium";
      src:url("/lib/ionic/fonts/Texta-Medium.otf");     
}

*/
/*

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.1");
  src: url("../fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("../fonts/ionicons.woff?v=2.0.1") format("woff"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
*/


/*@font-face {
   
     font-family: "TextaW00-Bold";
      src:url(/lib/ionic/release/fonts/Texta-Bold.otf);     
}


@font-face {
   
     font-family: "TextaW00-Medium";
      src:url(/lib/ionic/release/fonts/Texta-Medium.otf);     
}
*/
