/*#headertop img{
            text-align: center;
            height: 40px;
}

#headertop h2{
    letter-spacing: 1pt;
    font-weight: bold;
}*/

/*#helpInfo{
    text-align: center;
    letter-spacing: 1pt;
    font-size: 13px;
    padding: 5px;
}*/


#buttonFont{
    letter-spacing: 2pt;
}