

/*#style-four {
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    width: 150px;
}*/

::-webkit-input-placeholder {
    letter-spacing: 1pt;
    font-size: 10px;

}

#title{
    font-weight: bold;
    color: #888;
    letter-spacing: 1pt;
}

#headertop img{
    text-align: center;
    height: 40px;
}

#headertop h2{
    letter-spacing: 1pt;
    font-weight: bold;
}


#buttonFont{
    letter-spacing: 1pt;
    font-size: 12px;
}


